.wcv-grid * {
	box-sizing: border-box;
}

form {
    display: block;
}

body {
    line-height: 21px;
    text-align: left;
    text-transform: none;
    color: #646565;
    direction: ltr;
}

::selection {
    background: #e1e1e1;
    color: #000;
    text-shadow: none;
}

.breadcrumbs-wrapper .page-title {
    display: inline-block;
    float: left;
    font-size: 24px;
    padding: 0;
    font-weight: 400;
    margin-bottom:0;

}

.breadcrumbs-wrapper .container{
    border-color: #e1e1e1;
    padding: 30px 0;
    display: inline-block;
    text-align: right;
    width: 100%;
    max-width: 100%;
    border-style: solid;
    border-width: 0 0 1px 0;

}

.breadcrumbs-wrapper div {
    margin-bottom: 0 !important;
}

.container {
    margin-right: auto;
    margin-left: auto;
}

.col-md-8 {
    width: 66.66666667%;
}

.col-md-8 {
    float: left;
}

.site-content h3 {
    color: #484747;
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

.entry-content h3 {
    font-size: 24px;
    line-height: 1.2;
}

.wcv-grid h3 {
	font-weight: 700;
	margin-top: 0;
    margin-bottom: .87em;
}

.mce-container *{
    color: inherit;
    font-family: inherit;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: top;
    background: transparent;
    text-decoration: none;
    font-size: 14px;
    text-shadow: none;
    float: none;
    position: static;
    width: auto;
    height: auto;
    cursor: inherit;
    -webkit-tap-highlight-color: transparent;
    line-height: normal;
    font-weight: normal;
    text-align: left;
    box-sizing: content-box;
    direction: ltr;
    max-width: none;

}

.mce-flow-layout {
    white-space: normal;
}

.mce-container-body{
    display: block;
}

.mce-tinymce {
    visibility: inherit !important;
}

.mce-toolbar .mce-btn i {
    text-shadow: none;
}

.mce-toolbar .mce-ico {
    color: #555d66;
    line-height: 20px;
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
    text-align: center;
}

i.mce-i-bold{
    font: 400 20px/1 dashicons;
    vertical-align: top;
    speak: none;
    -webkit-font-smoothing: antialiased;
}

i.mce-i-bullist{
	font: 400 20px/1 dashicons;
    vertical-align: top;
    speak: none;
    -webkit-font-smoothing: antialiased;
}

.mce-ico {
	display: inline-block;
    background: transparent center center;
    background-size: cover;
}

.mce-container *,.mce-widget *{
	border: 0;
    outline: 0;
    text-decoration: none;
    float: none;
    position: static;
    white-space: nowrap;
    cursor: inherit;
    -webkit-tap-highlight-color: transparent;
    box-sizing: content-box;
    direction: ltr;
    max-width: none;
}

button{
	text-transform: none;
	text-rendering: auto;
	letter-spacing: normal;
    word-spacing: normal;
    text-indent: 0px;
    -webkit-writing-mode: horizontal-tb !important;
}

.wcv-form .control-group .control input.wcv-button {
    width: auto;
    margin: 33px 0 0 20px;
}